@import "tailwindcss";

@layer base {
  input, textarea, select {
    font-size: 1rem; /* Prevents iOS Safari from auto-zooming on input focus */
  }
}

@theme {
  --color-brand-50: #eeedfe;
  --color-brand-100: #dcdafd;
  --color-brand-500: #7f77dd;
  --color-brand-600: #6c63d1;
  --color-brand-700: #534ab7;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
